body{
	width:80%;
	margin: 0 auto;
}
header,footer{
	
	text-align: center;
}

header #one{
	font-family:arial;
	font-size: 48px;
	color: blue;
	text-shadow: 5px 5px 5px black;
}
header #two{
	font-family:arial;
	font-size: 48px;
	color: red;
	text-shadow: 5px 5px 5px black;
}
section{
	min-height: 400px;
	
}

section div{
	width: 100%;
	min-height:400px;
	margin: 0 auto;
	background-color: wheat;
	box-shadow: 5px 5px 5px black;
}

header a, .btn{
	padding: 10px;
	box-shadow: 5px 5px 5px black;
	background-color: red;
	color:white;
}

section #ques{
	width: 50%;
	margin: 0 auto;
	padding: 10px;
}

hr{
	height:4px;
	background: -webkit-linear-gradient(left, red,orange,yellow,orange,red);
}